.dashboard-container {
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    background-color: #c9c9c6;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-title {
    font-weight: bold;
    color: #343a40;
  }
  
  .about-link {
    text-decoration: none;
    color: #1b1919;
    font-weight: bold;
  }
  
  .task-input-group {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  
  .task-input,
  .reminder-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
  }
  
  .add-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .add-btn:hover {
    background-color: #ffc107;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    background-color: #f8f9fa;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s;
  }
  
  .task-item.task-done {
    text-decoration: line-through;
    opacity: 0.6;
  }
  
  .task-item.task-alert {
    background-color: #fff3cd;
    border-left: 6px solid #ffc107;
  }
  
  .task-text {
    font-weight: bold;
    cursor: pointer;
  }
  
  .task-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .task-time,
  .reminder-timer {
    font-size: 0.9rem;
    font-weight: bold;
    color: #495057;
  }
  
  .btn-sm {
    padding: 6px 10px;
    font-size: 0.85rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-sm.btn-warning {
    background-color: #ffc107;
    color: #fafcfd;
    border-color: rgb(156, 128, 2);
  }
  
  .btn-sm.btn-warning:hover {
    background-color: #31312f;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }  